.footer_container {
  margin-top: 2rem;
  background: #fff;
  width: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  color: rgb(134, 134, 134);
}
.footer_container hr,
p {
  margin-bottom: 0.5rem;
  background: none;
}
.footer_wrapper {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: none;
  padding: 23px 32px;
}
.footer_links {
  text-align: center;
  background: none;
  height: 100%;
}
.footer_links img {
  width: 66px;
  height: 36px;
}
.links_div {
  padding: 0.5rem 0;
  background: none;
}
.footer_link {
  text-decoration: none;
  background: none;
  color: rgb(134, 134, 134);
}
.footer_network,
.footer_network p,
.footer_copyR,
.footer_copyR p {
  background: none;
}

.footer_network_links {
  margin-top: 1rem;
  font-size: 45px;
  background: none;
}
.network {
  background: none;
  padding: 0.5rem;
  color: rgb(134, 134, 134);
}
.footer_number {
  margin-top: 0.5rem;
  background: none;
}
.footer_number p {
  background: none;
  margin-bottom: 0.5rem;
}
.footer_copyR {
  text-align: center;
}
.logoRJ_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.logoRJ {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.scroll_to_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  box-shadow: 0px 0px 0.5rem;
  cursor: pointer;
}
.scroll_to_top h4 {
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .footer_wrapper {
    grid-template-columns: 1fr;
  }
  .scroll_to_top {
    width: 3rem;
    height: 3rem;
    bottom:12rem;
    left: 0;
    font-size: 2rem;
  }
  .scroll_to_top h4{
    font-size: 0.5rem;
  }
}
