.slider_container {
  position: relative;
  width: 100%;
}

.slider_img {
  width: 100%;
  object-fit: cover;
}
.slider_card {
  display: flex;
  height: 100%;
  align-items: center;
}
.arrow {
  position: absolute;
  cursor: pointer;
  font-size: 5rem;
  color: #fff;
  background: none;
  opacity: 0.5;
  transition: 350ms ease;
}
.arrow:active,
.arrow:hover {
  transition: 350ms ease;
  opacity: 1;
}
.arrow_left {
  left: 3rem;
}
.arrow_right {
  right: 3rem;
}
@media screen and (max-width: 768px) {
  .arrow {
    font-size: 2rem;
  }
}
