.slider_container {
  display: block;
  position: relative;
  width: 100vw;
}
.slider_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_img {

  width: 100vw;
  object-fit: cover;
  transition: opacity 0.3s;
}
.slider_img:focus {
  transform: scale(1.05);
}
.btn_container {
  position: relative;
  height: 100%;
}
.arrow_btn_left {
  left: 0;
}
.arrow_btn_right {
  right: 0;
}
.btn_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  z-index: 12;
}
.arrow_btn_left,
.arrow_btn_right {
  position: absolute;
  top: 60%;
  width: 10%;
  height: 13vh;
  display: block;
  background: none;
}
.arrow_btn_left:hover,
.arrow_btn_right:hover {
  opacity: 1;
  transform: scale(1.5);
  transition: opacity 0.5s ease;
}
